arch: "aarch64"

images:
  - location: "~/scratch/VMs/rhel-10.aarch64.qcow2"
    arch: "aarch64"

mountType: virtiofs

mounts:
  - location: "~/Projects"
    writable: true
  - location: "~/scratch/output"
    mountPoint: "/output"
    writable: true
  - location: "~/Projects/toolbox/blueprints/"
    mountPoint: "/config"
    writable: true
  - location: "~/.ssh"
    mountPoint: "/mnt/ssh"
    writable: false

portForwards:
  - guestPort: 9090
    hostPort: 9091

containerd:
  system: false
  user: false

env:
  # this is just a small convenience to ignore some zsh configs
  CONTAINER_ID: "lima"
  ZDOTDIR: "/home/zissou.linux/.config/zsh"

provision:
  - mode: system
    script: usermod -aG wheel zissou

  - mode: system
    # this was causing loads of issues
    script: setenforce 0

  - mode: system
    script: |
      cd /tmp
      curl -LO https://ftp.gnu.org/gnu/stow/stow-2.4.1.tar.gz
      tar xf stow-2.4.1.tar.gz && cd stow-2.4.1
      cpanm Test::Output
      ./configure && make && make install

  - mode: system
    script: |
      # neovim is not recent enough, so install from source
      dnf remove -y neovim
      cd /tmp
      curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim-linux-arm64.tar.gz
      tar xf nvim-linux-arm64.tar.gz && cd nvim-linux-arm64
      install -m 755 ./bin/nvim /usr/bin
      install -d -m 755 /usr/lib/nvim/parser
      install -m 755 ./lib/nvim/parser/*.so /usr/lib/nvim/parser

      DESTDIR=${DESTDIR:-}
      PREFIX=${PREFIX:-/usr}

      SRC_DIR="./share/nvim/runtime"
      DEST_DIR="$DESTDIR$PREFIX/share/nvim/runtime"

      find "$SRC_DIR" -type d -print0 | while IFS= read -r -d '' dir; do
          # Map source directory to destination
          dest="$DEST_DIR/${dir#$SRC_DIR/}"
          install -d -m 755 "$dest"
      done

      find "$SRC_DIR" -type f -print0 | while IFS= read -r -d '' file; do
          dest="$DEST_DIR/${file#$SRC_DIR/}"
          install -m 755 "$file" "$dest"
      done

  - mode: user
    script: |
      cp /mnt/ssh/mini ~/.ssh/.
      cp /mnt/ssh/mini.pub ~/.ssh/.
      git clone https://github.com/kingsleyzissou/.dotfiles.git
      cd .dotfiles && git checkout containers
      rm ~/.zshrc
      # we have to run stow manually on first login
      # since we compiled it from source and it's not ready here yet
